<!Doctype html>
<html ng-app="appTicTac" >
<head>
	  <!-- Normalize CSS -->
    <link rel="stylesheet" src="https://normalize-css.googlecode.com/svn/trunk/normalize.min.css">
    <!-- App CSS -->
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
    <!-- App javascript -->
    <script src="main.js"></script>
	
</head>
<body ng-controller="myController" ng-model="gameContainer">
	<h1>XX Dic Tac Toe XX</h1>
		<h2 ng-bind>Dic 1: {{player1score}}  Dic 2: {{player2score}}</h2>
		<!-- CLICK COUNTER: {{moveCounter}} -->
			
			<div class="box">
					<div ng-bind="notification" id="notification">
					</div>
					<div ng-repeat="cell in gameContainer.cellListArray">
						<div class="cell" ng-click="playerPicks(cell)" ng-class="{xclass: cell.name=='Dic 1', oclass: cell.name=='Dic 2'}">	 
						</div>
					</div>
					
					
					<div class="Players">
						<div id="player1" ng-bind="player1score">
							<p>Player 1:</p>  {{player1score}}
						</div>
						<div id="player2" ng-bind="player2score">
							<p>Player 2:</p> {{player2score}}
						</div>
					</div>
					<div id="button">
						<button id="Reset" type="reset" value="Reset" ng-click="reload()">Play Again!</button>
					</div>
				</div>
					<!-- 	Cell Contents: {{currentCell.status}} -->
					<!-- <p ng-show>?</p> -->
						
		 		
</body>
</html>