<!Doctype html>
<html ng-app="appTicTac" >
<head>
	<link type="text/css" rel="stylesheet"
	href="style.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
	<script src="main.js"></script>
</head>
<body ng-controller="myController">
	<h1>Tic Tac Toe</h1>
		<!-- <div my-directive="" x-rating- value="2*10"></div> -->
		CLICK COUNTER: {{moveCounter}}
			<div class="box">
					<div ng-repeat="cell in cellList">
						<div class="cell" ng-click="playerPicks(cell)" ng-class="{xclass: cell.name=='X', oclass: cell.name=='O'}">

					<!-- 	Cell Contents: {{currentCell.status}} -->
						</div>
					</div>

			</div>

		  <button type="reset" value="Reset" ng-click="reload()">Play Again!</button>		
			


</body>
</html>