
body{
	background-image: url(winking-girl.gif);
	background-repeat: repeat-y;
	background-size: cover;
	background-attachment: fixed;
	background-margin: 300px;
	
}



h1{
	float: left;
	text-align: center;
	font-size: 70px;
	background-color: black;
	margin-left: 40px;
	margin-right: 350px;
	/*margin-bottom: 0px;*/
	color: red;
	opacity: 0.7;
	padding: 40px;
	border-radius: 10px;
	font-family: Impact;
}





.box{
	margin: auto;
	width: 468px;
	height: 468px;
	margin-left: 20px;
	margin-bottom: 40px;
	border-radius: 10px;
	opacity: 0.6;
}

.cell {
	width: 150px; 
	height: 150px;
	border: 2px solid red;
	float: left;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	border-radius: 10px;
	background-image: url(question.jpg);
}

.cell:hover{
	border-color: white;
}

.xclass{
	background-image: url("cheney-photo.jpg");
}

.oclass{
	background-image: url("van-dyke.jpg");
}

.notification{
	text-align: center;
	position: relative;
	display: inline;
	font-size: 35px;
	color: red;
	background-color: black;
	font-family: Helvetica;
	float: center;
	border-radius: 10px;
	margin-left: 135px;
	margin-bottom: 10px;
}

.clearFix{
	clear: both;
	padding: 10px;
}

#Reset{
	float: center;
	display: center;
	padding-top: 10px;
	color: red;
	background-color: black;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
	padding-top: 10px;
	margin-left: 180px;
	border-radius: 10px;
	font-size: 20px;
}

#Reset:hover{
	background-color: white;
}










/*.scoreboard{
	margin-right: 10px;*/

}



/*#headerwrapper{
	display: inline;
	padding: 30px;
	margin-right: 10px;
}*/


/*h2{
	color: red;
	background-color: black;
	display: inline-block;
	font-style: bold;
	margin-right: 100px;
	float: right;

}*/

/*
.Players{
	display: inline;
	text-align: center;
	float: center;
}

#player1{
	display: inline;
	text-align: center;


}
#player2{
	display: inline;
	text-align: center;
}*/


